<footer class="site-footer">
  <div class="footer-content">

    <div class="footer-left">
      <p>
        Raunak Basu<br>
        Assistant Professor<br>
        The Edmond and Lily Safra Center for Brain Sciences<br>
        The Suzanne and Charles Goodman Brain Sciences Building<br>
        Edmond J. Safra Campus<br>
        The Hebrew University of Jerusalem, 9190401<br>
        Lab: 2209
      </p>
    </div>

    <div class="footer-right">
      <p class="copyright">
        © 2026 Basu Neuro Lab. All rights reserved.
      </p>
    </div>

  </div>
</footer>
